html,body{
    width:100%;
}
.my-form {
   transition:all linear 0.5s;
   background: transparent;
 }
.error-message{
     color:red;
 }
.module-title{
     color: brown;
     font-size: 30px;
 }
.progressCirculardemoBasicUsage body {
  padding: 20px; }

.progressCirculardemoBasicUsage h4 {
  margin: 10px 0; }

.progressCirculardemoBasicUsage md-progress-circular {
  margin-bottom: 20px; }

.progressCirculardemoBasicUsage #loaders > md-switch {
  margin: 0;
  margin-left: 10px;
  margin-top: -10px; }

.progressCirculardemoBasicUsage #loaders > h5 {
  margin-top: 0; }

.progressCirculardemoBasicUsage #loaders > p {
  margin-right: 20px;
  margin-bottom: 24px; }

.progressCirculardemoBasicUsage p.small {
  font-size: 0.8em;
  margin-top: -18px; }

.progressCirculardemoBasicUsage hr {
  width: 100%;
  margin-top: 20px;
  border-color: rgba(221, 221, 177, 0.1); }

.progressCirculardemoBasicUsage p.small > code {
  font-size: 0.8em; }

.progressCirculardemoBasicUsage .visible {
  border-color: rgba(221, 221, 177, 0); }
.loader-image{
    position: absolute;
    top: 50%;
    right: 50%;
}
.loader-image:before {
    background-color: rgba(49, 37, 37, 0.2);
    border-radius: 6px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    content: " ";
    z-index: 2000000000;
}
.user-image{
  height:150px;
  width:150px;
  border-radius: 50%;
}
.active{
  color:rgb(63,81,181);
  background-color:lightgray;
}
md-icon {
  fill:black;
}
.active md-icon {
  fill:rgb(63,81,181);
}
.menu-layout .menu-item{
  cursor: pointer;
}

.menu-layout  .menu-item:hover{
  background-color:lightgray;
}

.login-form {
  position: relative;
}
.logout-button{cursor: pointer;
}
.red{background-color:#F44336}
.cyan{background-color:#00BCD4}
.amber{background-color:#FFC107}
.light-green{background-color:#8BC34A}
.dashboard-overviews{
  height:150px;
}